<!DOCTYPE html>
<html ng-app="googleMapsApp">
<head>
	<title></title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="public/stylesheets/styles.css">
	<!-- angular script -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!-- google maps script -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR-SZnuWywMu6kxHb0JrVrRhH7TseehUQ&libraries=places&v=3.exp&signed_in=true"></script>

	<script type="text/javascript" src="javascript/cities.js"></script>

	<script type="text/javascript" src="javascript/custom.js"></script>

</head>
<body ng-controller="googleMapsController">
	<div class="container-fluid">
		<div class="row">
		<h1>The 40 Most Populous US Cities</h1>
		</div>
		<div class="row">
			<div id="floating-panel">
				<b>Start: </b>
				<select ng-model="selectedStart" ng-options="city for city in startCity" ng-change="getDirections()"></select>
				<b>End: </b>
				<select ng-model="selectedEnd" ng-options="city for city in startCity" ng-change="getDirections()"></select>
			</div>
		</div>
	</div>	

	<div id="map"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col">
					<form ng-submit="updateMarkers()">
						<button class="btn btn-success" type="submit">Update the Map</button>
						<input id="filter-input" ng-model="citiesFilter" type="text">
					</form>
			</div>		
					<div>
						<select ng-model="mySelectedPlace" ng-options="place for place in places"></select>
						<p>Points of Interest: </p>
					</div>	

				<div class='table'>
					<table class="table-striped table-bordered table-hover">
						<thead>
							<tr>
								<!-- <th>Year Rank</th> -->
								<th>City</th>
								<th>Display Info</th>
								<th>Get A Closer Look</th>
								<th>State</th>
								<th>Year Estimate</th>
								<th>Last Census</th>
								<th>Change</th>
								<th>Land Area</th>
								<th>Land Area in KM</th>
								<th>Last Pop Density</th>
								<th>Last Pop Density in KM</th>
								<th>Latitude</th>
								<th>Longitude</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="city in (filteredCities = (cities | filter: citiesFilter)) track by $index">
								<td><a href="" ng-click="triggerClick($index)">{{city.city}}</a></td>
								<td><button class="btn btn-primary" ng-click="toggle($index)">Click here for more info</button></td>
								<td><button type="submit" ng-click="zoomToCity(city.lat, city.lon)">Zoom in to City</button></td>
								<td ng-show="city.clicked">{{city.state}}</td>
								<td ng-show="city.clicked">{{city.yearEstimate}}</td>
								<td ng-show="city.clicked">{{city.lastCensus}}</td>
								<td ng-show="city.clicked">{{city.change}}</td>
								<td ng-show="city.clicked">{{city.landArea}}</td>
								<td ng-show="city.clicked">{{city.landAreaInKm}}</td>
								<td ng-show="city.clicked">{{city.lastPopDensity}}</td>
								<td ng-show="city.clicked">{{city.lastPopDensityInKm}}</td>
								<td ng-show="city.clicked">{{city.lat}}</td>
								<td ng-show="city.clicked">{{city.lon}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="left-panel">
				</div>	
		</div>
	</div>

</body>
</html>
