/* line 23, ../../compass-master/sass/styles.scss */
body {
  background-color: #DCDCDC;
}

/* line 27, ../../compass-master/sass/styles.scss */
h1 {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}

/* line 32, ../../compass-master/sass/styles.scss */
p {
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
}

/* line 37, ../../compass-master/sass/styles.scss */
#floating-panel {
  position: absolute;
  top: 10px;
  left: 15%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  line-height: 30px;
  padding-left: 10px;
}

/* line 51, ../../compass-master/sass/styles.scss */
#map {
  height: 99vh;
  width: 75%;
  float: left;
}

/* line 57, ../../compass-master/sass/styles.scss */
.table {
  width: 25%;
  overflow: scroll;
  height: 91vh;
}

/* line 62, ../../compass-master/sass/styles.scss */
table {
  margin: auto;
  text-align: left;
  font-family: 'Droid Sans', sans-serif;
  background-color: white;
}
/* line 67, ../../compass-master/sass/styles.scss */
table td, table th {
  padding-left: 10px;
}

/* line 72, ../../compass-master/sass/styles.scss */
#left-panel {
  font-family: 'Droid Sans', sans-serif;
  line-height: 30px;
  padding-left: 10px;
  height: auto;
  float: left;
  width: 800px;
  overflow: auto;
}
/* line 80, ../../compass-master/sass/styles.scss */
#left-panel select {
  width: 100%;
  font-size: 15px;
}
/* line 84, ../../compass-master/sass/styles.scss */
#left-panel input {
  font-size: 15px;
}
/* line 87, ../../compass-master/sass/styles.scss */
#left-panel i {
  font-size: 12px;
}

/* line 93, ../../compass-master/sass/styles.scss */
#left-panel .adp table {
  font-family: 'Droid Sans', sans-serif;
}
